@import "src/variables.scss";

.scripts {
    background-color: white;
    margin: 0 auto;
    border: 1px solid $text;
    border-radius: 5px;
    margin: 0 15px;

    li {
        
    }
}

