<div class="node-container">
  <div class="title-row">
    <svg height="24" width="24">
      <circle cx="12" cy="12" r="6" stroke="gray" stroke-width="2" fill="black" />
    </svg>
    <h5 class="node-title">{{node.title}} 
      <span *ngIf='node.subtitle'>: </span> 
      <input class="node-subtitle" 
        type="text" maxlength="40" size="40" 
        value="{{node.subtitle}}" 
        (keypress)="onSubtitle($event)"/>
    </h5> 
  </div>
  <textarea class="node-description" 
    autosize [maxRows]="5" 
    [useImportant]=true 
    cols="50" rows="1" 
    value="{{node.description}}" 
    (keypress)="onDescription($event)"
    (blur)="onDescriptionBlur($event)">
  </textarea>
  <div class="Episo">

  </div>
</div>