@import "src/variables.scss";

@mixin invisibleInput {
    border: 0px;
    outline: none;
    color: $text;
};
$tab: 24px;

.node-container {
    border: 1px solid;
    width: 100%;
    .title-row {
        svg {
            float: left;
        }
        input {
            @include invisibleInput;
            font-weight: 500;
           
        }
        h5 {
            margin: 0;
        }
    }
    .node-description {
        @include invisibleInput;
        margin-left: $tab;
        resize: none;
    }
}