@import "src/variables.scss";

@mixin invisibleInput {
    border: 0px;
    outline: none;
    color: $text;
};
$tab: 24px;

.board {
    background-color: white;
    margin: 0 auto;
    height: 500px;
    border: 1px solid $text;
    border-radius: 5px;
    margin: 0 15px;
}

.board-menu {
    height: 70px;
    border-bottom: 1px solid $text;

    .board-movie-name {
        @include invisibleInput;
        font-weight: 500;
        font-size: 1.1em;
        font-variant: small-caps;
        text-decoration: underline;
    }
    .board-movie-subtitle {
        @include invisibleInput;
        font-weight: 500;
    }
}

.board-movie-notes {
    @include invisibleInput();
    width: 100%;
    padding-left: $tab;
    padding-right: $tab;
    resize: none;
}