<div class="board">
  <div class="board-menu">

    <div class="d-inline-flex flex-row mt-2">
      <h4 class="d-flex m-0 align-self-end">Board</h4>   
      <div *ngIf='treeToEdit' class="d-flex m-0 ml-1 align-self-end">
          <input class="board-movie-name p-0" 
          type="text" maxlength="40" size="60"  
          value="{{treeToEdit.movieTitle}}" 
          (keydown)="onTitle($event)"/>
      </div>
    </div>
    <div *ngIf='treeToEdit'>
      <input class="board-movie-subtitle" 
        type="text" maxlength="40" size="60" 
        value="{{treeToEdit.subtitle}}" 
        (keydown)="onSubtitle($event)"/>
  </div>

  <div *ngIf='treeToEdit'>
    <div>
      <h5>Notes</h5>
      <textarea class="board-movie-notes" 
        value="{{treeToEdit.notes}}" 
        autosize>
    </textarea>
    </div>
    <app-node *ngFor='let currentNode of treeToEdit.acts' 
      [inputNode]='currentNode' 
      inputNodeType='act'>
    </app-node>
  </div>

</div>

