<div class="board">
  <div class="board-menu">
    <div class="menu-info">
      <div class="d-inline-flex flex-row mt-2">
        <h4 class="d-flex m-0 align-self-end">Board</h4>
        <div *ngIf='treeToEdit' class="d-flex m-0 ml-1 align-self-end title-container">
          <input class="board-movie-title p-0" type="text" maxlength="35" value="{{treeToEdit.movieTitle}}"
            (keydown)="onTitle($event)" />
        </div>
      </div>
      <input *ngIf='treeToEdit' class="board-movie-subtitle" type="text" maxlength="50"
        value="{{treeToEdit.subtitle}}" (keydown)="onMovieSubtitle($event)" />
    </div>
    <div class="menu-options" *ngIf='treeToEdit'>
      <button class="add-notes-button" *ngIf='!treeToEdit.notes' (click)='showNodes()'>Add notes</button>
      <button (click)='logNode()'>log node</button>
      <button>func 2</button>
    </div>
  </div>
  <div class="notes-container" *ngIf='treeToEdit' [hidden]='!notesIsVisible'>
    <h5>Notes</h5>
    <textarea class="board-movie-notes" value="{{treeToEdit.notes}}" autosize (keydown)="onNotes($event)"></textarea>
  </div>

  <div *ngIf='treeToEdit' class="board-content">
    <app-node *ngFor='let currentNode of treeToEdit.acts' [inputNode]='currentNode' inputNodeType='act'>
    </app-node>
  </div>
</div>